################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.log
*.Log
*.zip
*.rar
*.suo
/*.suo
/.vs
/.vs/*
/.vs/nProPhony/v17/.suo
/Core/.vs
/*.zip
/*.rar
/Core/ovsPSProPhony/bin/Debug
/Core/ovsPSProPhony/obj
/Core/ovsPSProPhony_Test/bin
/Core/ovsPSProPhony_Test/obj/Debug
/MP3Compressor/AudioCompress/bin/Debug
/MP3Compressor/AudioCompress/obj/Debug
/nProPhony/bin/Debug
/nProPhony/bin/Release
/nProPhony/obj
/nProPhony/obj/Release
/nProPhony/obj/Debug
/packages/CSAudioConverter.1.1.3
/VBSample/SIPSample/obj
/VCSample
/websocket-sharp/bin/Debug
/websocket-sharp/bin
/websocket-sharp/obj
/Core/.vs
/Core/ovsPSProPhony/--Core--
/Core/ovsPSProPhony/bin/Debug
/Core/ovsPSProPhony/obj
/Core/ovsPSProPhony_Test/bin
/Core/ovsPSProPhony_Test/obj/Debug
/Core_2_0/.vs
/Core_2_0/ovsPSProPhony/--Core--
/Core_2_0/ovsPSProPhony/bin/Debug
/Core_2_0/ovsPSProPhony/obj
/Core_2_0/ovsPSProPhony_Test/bin
/Core_2_0/ovsPSProPhony_Test/obj/Debug
/nProPhonyLogWriter/.vs
/nProPhonyLogWriter/obj
/BOK-ProductionVersion
